rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    // Allow access to reports
    match /reports/{merchantId}/{fileName} {
      allow read: if true;  // For development - restrict in production
      allow write: if false;  // Only allow writes through Firebase Functions
    }
    
    // Default deny all other paths
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
